body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  margin: 10mm;
  text-align: justify;
}


/* Conteneur principal */
.cv-container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 100vh; /* prend toute la hauteur de l’écran */
  margin: auto;
  background-color: rgb(234, 252, 232);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}


/* Colonne gauche */
.gauche {
  width: 35%;
  background-color: #f1f8f1;
  padding: 20px;
  box-sizing: border-box;
}

/* Colonne droite */

.droite {
  width: 65%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 35px; /* test */
  color: rgb(219, 8, 107);
  text-align: center;
  
}

h2 {
  color: #2e7d32;
  border-bottom: 2px solid #81c784;
  padding-bottom: 4px;
}

h4{
  color:#2e7d32;
  border-bottom: 2px solid #81c784;
  padding-bottom: 4px;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li::before {
  content: "• ";
  color: #4caf50;
}

/* Bloc présentation centré */
.presentation h1 {
  font-size: 2.5em;
  margin: 0;
}

.presentation h3 {
text-align: center;
  margin-top: 10px;
  color: #f6b6e8;
  font-weight: normal;
}

.presentation {
  margin-top: 20px;
  max-width: 500px;
  line-height: 1.6;
  /* --- Centrage de la partie droite --- */
.droite {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;      /* centre le texte */
}

/* Pour que la présentation ne soit pas trop large */
.contenu-droite {
  max-width: 600px;
}

/* Pour harmoniser les titres de la partie droite */
.droite h2 {
  color: #2e7d32;
  border-bottom: 2px solid #81c784;
  padding-bottom: 4px;
  margin-top: 30px;
  text-transform: uppercase;
}

}